@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - DVT Management System</title>
    <link rel="stylesheet" href="~/Content/cssStyle.css" />

    <link rel="stylesheet" href="~/Content/SharedStyling.css" />
</head>
<body>
    <div class="topnav ">
        <ul class="nav nav-tabs nav-justified ">

            <li><a href="~/Home/Index">Home</a></li>
            <li><a href="~/UserProfiles/Create">Register</a></li>
            <li><a href="~/Authentication/Login">Login</a></li>
            <li><a href="~/Authentication/Login">UpdateProfile</a></li>
        </ul>
    </div>

    <div class="container ">
        <div class="row ">
            <div class="img">
                <img src="~/Images/dvt-logo-large.jpg" class="img-responsive   " alt="logo" width="150" margin="auto" />
            </div>
        </div>
    </div>
    @RenderBody()


    <div class="footers">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DVT Management System</p>
        </footer>
    </div>

</body>
</html>
