
body{
    background-image:url('crowd (1) another.jpg');
     background-size: cover;
    font-family:'Times New Roman', Times, serif;
}
.butt {
   border: 1px outset grey;
   background-color: ghostwhite;
   height:35px;
   width:135px;
   cursor:pointer;
   text-decoration:double;
   text-align:center;
}

.butt:hover {
   background-color: lightgrey;
   color:white;
}


.Center {
  display: flex;
  align-items: center;
  justify-content: center;
  color:darkgray;
}


.img{
  display: block;
  padding-left:100px;


}
form-horizontal{
  display: flex;
  align-items: center;
  justify-content: center;
}


table.center {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    margin-left:auto; 
    margin-right:auto;
    border-collapse: collapse;
    border-color:antiquewhite;
    
  }
th, td {
    padding: 8px;
    text-align:center;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius:1px;
}
hr.style1{
	border-top: 1px solid #8c8b8b;
    width:70%;
}
h1 {
    text-align: center;
    color:antiquewhite;
    font-family:'Cambria Math';
}
hr.style2{
	border-top: 1px solid #8c8b8b;
    width:20%;
}

 dl {
     
  /*padding-left: 650px;*/
  }
  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    font-weight: bold;
    color:grey;
  }
  dt::after {
    content: ":";
  }
  dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
  }
  p{
      align-content:flex-end;
  }
 .collapse dt, dd{
     color:antiquewhite;
      /*text-align:justify;*/
         
     
 }
 /*.collapse{
     background-color:white;
     width:-20px;
    margin-left: -20px;
 }*/
  
 
 