@model DVTManagementSystem.Models.AccountModel.LostPasswordModel
    <button onclick="openPopup() " class="btn btn-primary"></button>
<div class="container" id="Popup_bg">
    <div class="row" id="popup_main_div">
        <div class="col-xs-12">
                <div class="popup_main_div" id="Forgotpass" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">FORGET PASSWORD</h4>
                            </div>
                            <form action="LostPassword" method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        @Html.DisplayNameFor(model => model.EmailAddress)
                                     
                                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">SUBMIT</button>
                                    <button class="btn btn-primary" data-dismiss="modal">CLOSE</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
