<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-sm" data-target="#Forgotpass" data-toggle="modal"></button>
            <div class="modal" id="Forgotpass" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">FORGET PASSWORD</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="inputEmail">EmailAddress</label>
                                    <input class="form-control" placeholder="Emailaddress" type="text" id="inputEmail"/>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary">SUBMIT</button>
                            <button class="btn btn-primary" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
