@Model  DVTManagementSystem.Models.UserProfile
@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>

   @using (Html.BeginForm("Login", "Authentication"))
   {
      @*@Html.DisplayNameFor(model=> model.EmailAddress )*@
   }
    @Html.ActionLink("Forgot Password","")
</div>

  
}