@model  DVTManagementSystem.Models.UserProfile
@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>

@using (Html.BeginForm("Login", "Authentication"))
{
    <div>
        @Html.DisplayNameFor(model => model.EmailAddress)
        @Html.EditorFor(model => model.EmailAddress)
    </div>
    <div>

       @Html.Name("Password")
       @Html.PasswordFor(model=> model.PasswordHash)
</div>
       <input type="submit" value="Login" class="btn btn-default" >
   }
    


  
