
@{
    ViewBag.Title = "UserProfile";
}

<h2>Use rProfile Page under construction</h2>

<div>
    @if (Session["FirstName"] != null && Session["LastName"] != null)
    {
        <h1>Hello @Session["FirstName"].ToString() @Session["LastName"].ToString()</h1>
    }
</div>



