
@{
    ViewBag.Title = "Index";
}

<h2></h2>

<link href="~/Content/IndexStyle.css" rel="stylesheet" />



<body>

    <div class="Center">
        <form action="aboutus.html">
            <button class="button" value="~/Authentication/Login">LogIn</button>
        </form>
    </div>
    <br />

    <div class="Center">
        <form action="end.html">
            <button class="button" value="Register">
                Register 
            </button>
            
        </form>
    </div>
    <br />

</body>


